<article>
  <form class="login-form" (ngSubmit)="onSubmit(user.login,user.password)" *ngIf="isLogged()">
    <h1>Change Password</h1>
    <div class="form-input-material">
      <input type="text" [(ngModel)]="user.password" name="password" id="password" placeholder=" " autocomplete="off" class="form-control-material" required />
      <label for="password"> Password</label>
    </div>
    <div class="form-input-material">
      <input type="password" [(ngModel)]="passwordRepeated" name="passwordRepeated" id="passwordRepeated" placeholder=" " autocomplete="off" class="form-control-material" required />
      <label for="passwordRepeated"> Repeat Password</label>
    </div>
    <button type="submit" class="btn btn-primary btn-ghost">Change Password</button>
  </form>
</article>
