.box{
  padding-top: 50px;
  font-family: "Yu Gothic Medium", serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.column1{
  margin-left: 5%;
  flex: 50%;
  padding: 5px;
}
.column2{
  flex: 50%;
  padding: 5px;
}
img{
  width: 80%;
  height: 80%;
  float: right;
  padding-bottom: 10px;
}
hr{
  height:2px;
  border-width:0;
  color: black;
  background-color: black;
}
.button{
  text-align: center;
  display: block;
  padding: 8px;
  background-color: #285B67 ;
  text-decoration: none ;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  font-family: Tahoma, serif;
  font-weight: bold;
}
.button:hover{
  background-color: #3F8FA2;
  cursor: pointer;
}
.username{
  text-align: center;
  font-size: 50px;
}
