.component{
  border-collapse: collapse;
  text-align: center;
  width: 320px;
  height: 360px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  background: white;
}
.component:hover{
  cursor: pointer;
  background: #F5F5F5;
}
.component:hover a{

}
.component:hover .visible{

}
img {
  width: 80%;
  height: 80%;
}
.text{
  text-align: center;

  text-transform: uppercase;
  font-family: Tahoma, serif;
  font-weight: bold;
}
a{
  display: block;
  padding: 8px;

  text-decoration: none;
  font-size: 20px;

  text-transform: uppercase;
  font-family: Tahoma, serif;
  font-weight: bold;
}
